.controlsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  width: 100%;
  padding: 0 10px; /* Внутренний отступ для мобилок */
}

@media (min-width: 768px) {
  .controlsWrapper {
    flex-direction: row;
  }
}

.searchInput {
  background-color: #414549;
  border: 3px solid #ced4da;
  border-radius: 12px;
  padding: 12px 20px;
  color: white;
  font-size: 24px;
  outline: none;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.searchInput:focus {
  border-color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 0px rgba(0, 0, 0, 0.4);
}

.filterGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.filterBtn {
  background-color: #3b3f43;
  border: 2px solid #5d646a;
  border-bottom-width: 5px; /* Эффект объема */
  border-radius: 10px;
  padding: 6px 16px;
  color: #9ca3af;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.1s active;
}

.filterBtn:hover {
  border-color: #ced4da;
  color: white;
}

.filterBtnActive {
  background-color: #efefef;
  border-color: #ffffff;
  color: #1a1c1e;
  border-bottom-width: 2px;
  transform: translateY(3px); /* Эффект нажатой кнопки */
}