@font-face {
  font-family: 'm6x11';
  src: url('./assets/fonts/m6x11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: #1a1c1e;
}

body {
  margin: 0;
  font-family: 'm6x11', sans-serif;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.balatro-font {
  font-family: 'm6x11', sans-serif !important;
}

.pixelated {
  image-rendering: pixelated;
  width: 100%;
}